/* EDITOR ROOT STYLES
======================== */
.content-editable-root {
  padding: 10px;
  border: 1px solid #fca13a;
}

/* TEXT STYLES
======================== */
.editor-text-paragraph {
  margin: 0;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underline.editor-text-strikethrough {
  text-decoration: underline line-through;
}